@import '../../Sass/Variables.scss';

.home {
  flex-grow: 1;
}

.home__top__inner {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.home__top__image{
  margin-right: 20px;
}

.home__top__link {
  margin: 0;
  font-weight: 700;
  font-size: 26px;
  line-height: 33px;
  text-decoration: none;
  color: $heading-color-light;

  &:hover{
    text-decoration: underline;
  }
}
